.App {
  text-align: center;
}
.container { width:900px; 
             margin:0 auto;
             padding:20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


h2 {
    font-size: 50px;
    padding-bottom: 20px;
    color: green;
}

.noteContainer {
    background: #FFFF00;
    margin: 10px;
    padding: 10px;
    border: 2px solid #b3b300;
    /* Firefox */
    -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    display: inline-block;
    width: 250px;
    position: relative;
}

.deleteIcon {
    position: absolute;
    top: 10px;
    right: 10px;
}

label {
    width: 100px;
    margin-right: 15px;
}

.formContainer > div {
    vertical-align: top;
    margin-bottom: 15px;
}

    .formContainer > div label {
        vertical-align: top;
    }

.buttonContainer {
    text-align: right;
}

form {width:400px;}